<div class="list-item">
    <div class="inputs">
        <input type="text" class="name" value={{data.name}} [(ngModel)]="n1">
    </div>
    <div class="inputs">
        <input type="number" class="quantity small" value={{data.quantity}} [(ngModel)]="q1">
    </div>
    <div class="actions">
        <i class="fa-regular fa-pen-to-square edit" (click)="editItem(data.id)"></i>
        <i class="fa-solid fa-caret-up" (click)="increaseItem()"></i>
        <i class="fa-solid fa-caret-down" (click)="decreaseItem()"></i>
        <i class="fa-solid fa-trash remove" (click)="removeItem()"></i>
    </div>
</div>
