@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500;600;700&family=Martian+Mono:wght@300;400;500;600;700&display=swap');

::ng-deep *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-family: 'Martian Mono','Chivo Mono', monospace;
    user-select: none;
}
