.input-form{
    position: relative;
    padding: 3vw 0vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.display-success{
    position: absolute;
    top: 50;
    left: 50;
    transform: translateX(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 100%;
    height: 50%;
    place-content: center;
    font-size: 5rem;
    display: none;
}

.display-success.active{
    display: grid;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

label{
    width: max-content;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 90%;
}

.input-container > input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

.input-container.area > textarea{
    resize: none;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

.input-container.small{
    flex-direction: row;
}

.small-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.small-container > input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

.small-container.long > input{
    width: 390%;
}

.input-container.btn{
    flex-direction: row;
}

.input-container.btn > button{
    margin-right: 20px;
    font-size: 1.3rem;
    padding: 5px 10px;
    cursor: pointer;
}

.input-container.btn > button:hover{
    background-color: rgb(158, 156, 156);
    outline: none;
    border: none;
}