.container{
    width: 100vw;
    margin-top: 20px;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-display{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(101, 101, 101);
}

.display-title{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.item-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 20px 0;
}

.display-image{
    width: 60vw;
    margin: 0 10vw;
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.display-text{
    width: 90%;
    font-size: 1.2rem;
    margin: 10px 0;
}

.item-ingredients{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0;
}

.single-ingredient{
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 1.3rem;
}