header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    background-color: rgb(1, 220, 220);
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
}

.title{
    font-size: 3rem;
    margin-left: 50px;
    margin-right: auto;
    cursor: pointer;
    font-family: cursive;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    margin-right: 30px;
    padding: 5px 10px;
    font-size: 1.5rem;
}

.btn:hover{
    background-color: white;
}