header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
    margin-left: 50px;
    margin-right: auto;
    cursor: pointer;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    margin-right: 50px;
    padding: 5px 10px;
}